@import url(https://fonts.googleapis.com/earlyaccess/notosansscsliced.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

/* Noto Serif TC */
@font-face {
  font-family: 'Noto Serif TC';
  src: url('fonts/NotoSerifTC/NotoSerifCJKtc-Regular.otf'); /* IE9 Compat Modes */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif TC';
  src: url('fonts/NotoSerifTC/NotoSerifCJKtc-Medium.otf'); /* IE9 Compat Modes */
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif TC';
  src: url('fonts/NotoSerifTC/NotoSerifCJKtc-SemiBold.otf'); /* IE9 Compat Modes */
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif TC';
  src: url('fonts/NotoSerifTC/NotoSerifCJKtc-Bold.otf'); /* IE9 Compat Modes */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif TC';
  src: url('fonts/NotoSerifTC/NotoSerifCJKtc-Black.otf'); /* IE9 Compat Modes */
  font-weight: 900;
  font-style: normal;
}

/* Noto Serif SC */
@font-face {
  font-family: 'Noto Serif SC';
  src: url('fonts/NotoSerifSC/NotoSerifCJKsc-Regular.otf'); /* IE9 Compat Modes */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif SC';
  src: url('fonts/NotoSerifSC/NotoSerifCJKsc-Medium.otf'); /* IE9 Compat Modes */
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif SC';
  src: url('fonts/NotoSerifSC/NotoSerifCJKsc-SemiBold.otf'); /* IE9 Compat Modes */
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif SC';
  src: url('fonts/NotoSerifSC/NotoSerifCJKsc-Bold.otf'); /* IE9 Compat Modes */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif SC';
  src: url('fonts/NotoSerifSC/NotoSerifCJKsc-Black.otf'); /* IE9 Compat Modes */
  font-weight: 900;
  font-style: normal;
}


/* Seto Font */
@font-face {
  font-family: 'Seto Font';
  src: url('fonts/SetoFont/setofont.ttf'); /* IE9 Compat Modes */
  font-weight: 400;
  font-style: normal;
}

/* GenJyuuGothic */
@font-face {
  font-family: 'GenJyuuGothic';
  src: url('fonts/GenJyuuGothic/GenJyuuGothic-Normal.ttf'); /* IE9 Compat Modes */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hana Min';
  src: url('fonts/HanaMin/HanaMinA.ttf'); /* IE9 Compat Modes */
  font-weight: normal;
  font-style: normal;
}

.font-notoserif {
  font-family: 'Noto Serif TC';
  font-weight: 600;
}
body[lang=sc] .font-notosans {
  font-family: 'Noto Sans SC Sliced', sans-serif;
  font-weight: 500;
}
body[lang="tc"] .font-notosans {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 500;
}
.font-setofont {
  font-family: 'Seto Font', sans-serif;
}
.font-genjyuugothic {
  font-family: 'GenJyuuGothic';
}
.font-hanamin {
  font-family: 'Hana Min';
}


body[lang='tc'] .simplified,
body[lang='sc'] .traditional {
  display: none;
}

.allcaps {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}

.relative {
  position: relative;
}

.centered-h {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.centered-v {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.centered-hv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.festival {
  display: none;
}

  #section-setofont .wrapper * {
    line-height: 1em;
  }
  #section-setofont .group-term {
    border: 8px solid #222;
    padding: 16px;
    font-size: 4vh;
    border-radius: 2px;
    margin: 20px 28px;
  }
  #section-setofont .label-weekday-en {
    width: 20vh;
    padding-bottom: 23vh;
    font-size: 7vh;
    position: relative;
    background-image: url(images/shape3.svg);
    background-size: 94%;
    background-repeat: no-repeat;
    color: khaki;
    background-position: 50% 50%;
    margin: 0 2.8vh 0vh 0;
  }
  #section-setofont .label-month-date {
    border: 4px solid #222;
    border-radius: 20px;
    letter-spacing: .1em;
    padding: 1.6vh 1.6vh;
    text-indent: .1em;
  }
  #section-setofont .label-month-date .month-date-cn {
    font-size: 5.4vh;
  }
  #section-setofont .label-month-date .month-date-cn.short-title {
    font-size: 6vh;
  }
  #section-setofont .label-lunardate {
    font-size: 5vh;
  }
  #section-setofont .label-lunardate.length-4 {
    font-size: 6vh;
  }
  #section-setofont .label-lunardate.length-6 {
    font-size: 4vh;
  }
  #section-setofont .lunar-month-date-name {
    margin: 0 auto;
    letter-spacing: .15em;
    white-space: nowrap;
    text-indent: .15em;
  }
  #section-setofont .lunar-calendar-cn-1,
  #section-setofont .lunar-calendar-cn-2 {
    margin: 0 auto;
    border: 2px solid khaki;
    border-radius: 2vh;
    font-size: 2.4vh;
    padding: .4vh;
  }
  #section-setofont .group-ganzhiyear {
    font-size: 2.4vh;
    white-space: nowrap;
  }
  #section-setofont .label-lunardate {
    background: #222;
    color: khaki;
    outline: 2px solid #222;
    outline-offset: 4px;
    margin: 4vh 0px 0 0;
    padding: 2vh;
  }
  #section-setofont .ganzhi-year {
    font-size: 6vh;
    margin: 0 auto 2.6vh auto;
  }
  #section-setofont .group-ganzhiyear {
    background: #222;
    padding: 8px;
    position: relative;
    margin: -7vh 3.4vh 0vh 0;
  }

  #section-setofont .group-ganzhiyear .wrapper-bg {
    background: khaki;
    padding: 3.4vh 2vh 2.4vh 2vh;
    border-radius: 8px;
    border: 0px solid #222;
  }
  #section-setofont .group-ganzhimonth {
    font-size: 2.2vh;
    position: relative;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid #222;
    margin: 0.6vh 3.2vh 0vh 0;
  }
  #section-setofont .ganzhi-month {
    font-size: 5.4vh;
    padding: 4.4vh 6vh;
    margin-right: -9vh;
    letter-spacing: 9vh;
    white-space: nowrap;
  }
  #section-setofont .group-ganzhiday {
    position: relative;
    width: 19vh;
    height: 19vh;
    color: khaki;
    margin-left: 1.4vh;
    -webkit-transform: translate3d(6vh,0,0);
    font-size: 2.4vh;
  }
  #section-setofont .label-ganzhiday-1 {
    letter-spacing: 1vh;
    text-indent: 1vh;
    left: -1vh;
  }
  #section-setofont .label-ganzhiday-2 {
    letter-spacing: 1vh;
    right: -1vh;
    text-align: right;
    text-indent: 1vh;
  }
  #section-setofont .group-ganzhiday .wrapper-bg {
    background: #222;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 50% 50%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
    #section-setofont .group-ganzhiday .wrapper-bg:after {
      border: 1px solid khaki;
      position: absolute;
      left: 6px;
      top: 6px;
      right: 6px;
      bottom: 6px;
      content: "";
    }
  #section-setofont .ganzhi-day {
    font-size: 5vh;
    height: 10vh;
  }
  #section-setofont .label-ganzhi-month {
    bottom: 3.4vh;
  }
  #section-setofont .group-ganzhimonth .wrapper-bg {
    background: #222;
    color: khaki;
    border-radius: 50%;
  }
  #section-setofont .label-zodiac {
    position: relative;
    border: 8px solid #222;
    width: 20vh;
    height: 20vh;
    border-radius: 10vh;
    box-sizing: border-box;
    margin-top: 2.2vh;
  }
  #section-setofont .zodiac {
    font-size: 7.4vh;
  }
  #section-setofont .label-zodiac-title {
    letter-spacing: 9vh;
    width: 27vh;
    height: 2.6vh;
    font-size: 2.6vh;
    margin-top: calc( 50% - 1.3vh );
  }
  #section-setofont .weekday-cn {
    /* font-size: 4.6vh;
    width: 4.6vh;
    height: 13.8vh; */
    white-space: nowrap;
  }
  #section-setofont .label-weekday {
    position: relative;
    font-size: 4.6vh;
    height: 26vh;
    width: 11vh;
    box-sizing: border-box;
    border-style: solid;
    border-width: 5vh;
    color: khaki;
    -moz-border-image: url(images/shape2.svg) 30 30 30 30 stretch;
    -webkit-border-image: url(images/shape2.svg) 30 30 30 30 stretch;
    margin: 4.8vh 3.2vh 0 4.2vh;
  }
  #section-setofont .vline {
    border-left-color: khaki;
    margin: 0 1.4vh 0 1.7vh;
  }


  #section-genjyuugothic .wrapper {
    line-height: 1em;
  }
  #section-genjyuugothic .wrapper-text {
    position: relative;
    white-space: nowrap;
    text-align: center;
    writing-mode: tb-rl;
    text-align: center;
    margin: 0px 2vh;
  }
  #section-genjyuugothic .label-term {
    font-size: 8vh;
    line-height: 8vh;
    letter-spacing: 13.8vh;
    text-indent: 13.8vh;
    width: 8vh;
    margin: 0 1vh 0 2vh;
  }
  #section-genjyuugothic .number-date {
    -webkit-text-stroke: 4px #222;
    font-size: 118vh;
    -webkit-text-stroke: 2px #222;
    -webkit-text-fill-color: transparent;
    z-index: 100;
  }
  #section-genjyuugothic .weekday-cn {
    font-size: 26vh;
    line-height: 26vh;
    width: 26vh;
    white-space: nowrap;
  }
  #section-genjyuugothic .wrapper-month-cn {
    width: 6vh;
    font-size: 6vh;
    letter-spacing: 7.5vh;
    text-indent: 7.5vh;
    line-height: 6vh;
  }
    #section-genjyuugothic .month-date-cn.short-title {
      letter-spacing: 11.6vh;
      text-indent: 11.6vh;
    }
  #section-genjyuugothic .wrapper-date-cn {
    font-size: 9vh;
    letter-spacing: 25vh;
    text-indent: 25vh;
    width: 9vh;
    line-height: 9vh;
  }
  #section-genjyuugothic .wrapper-year-cn {
    font-size: 12vh;
    letter-spacing: 9.1vh;
    text-indent: 9.1vh;
    width: 12vh;
    line-height: 12vh;
  }
  #section-genjyuugothic .wrapper-group-ganzhi {
    font-size: 3vh;
    width: 3vh;
    letter-spacing: 0.82vh;
    text-indent: 0.82vh;
    line-height: 3vh;
  }
  #section-genjyuugothic .label-lunardate {
    font-size: 5vh;
    line-height: 5vh;
    letter-spacing: 4.8vh;
    text-indent: 4.8vh;
    width: 5vh;
    margin: 0 1vh 0 2vh;
  }
    #section-genjyuugothic .label-lunardate.length-4 {
      letter-spacing: 9.35vh;
      text-indent: 9.35vh;
    }
    #section-genjyuugothic .label-lunardate.length-5 {
      letter-spacing: 6.9vh;
      text-indent: 6.9vh;
    }


  #section-genjyuugothic .wrapper-zodiac {
    font-size: 9vh;
    line-height: 9vh;
    letter-spacing: 7.1vh;
   text-indent: 7.1vh;
    width: 9vh;
    margin: 0 0 0 2vh;
  }


  #section-notosans .hline {
    width: 30.5vh;
  }

  #section-notosans .term {
    font-size: 37vw;
    position: absolute;
    white-space: nowrap;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #222;
    -webkit-text-stroke-width: 1px;
    letter-spacing: 10vw;
    text-indent: 10vw;
  }
  #section-notosans .wrapper * {
    line-height: 1em;
  }
  #section-notosans .wrapper {
    max-width: 480px;
  }
  #section-notosans .ganzhi-group {
    margin: 1vh 0;
    font-size: 2.1vh;
    letter-spacing: .6em;
  }
  #section-notosans .ganzhi-group > * {
    line-height: 1.5em;
  }
  #section-notosans .ganzhi-year,
  #section-notosans .ganzhi-month,
  #section-notosans .ganzhi-day {
    font-size: 6vh;
    letter-spacing: .2em;
  }
  #section-notosans .label-zodiac {
    font-size: 10vh; /*  18vh; */
    margin: 1.5vh 0 3vh 0;
  }
  #section-notosans .label-lunardate {
    font-size: 3.9vh;
    margin-top: 1vh;
  }
    #section-notosans .label-lunardate.length-4 {
      font-size: 4.5vh;
      margin-top: 1vh;
    }
    #section-notosans .label-lunardate.length-6 {
      font-size: 3.5vh;
      margin-top: 1vh;
    }


  #section-notosans .weekday-cn {
    font-size: 10.5vh;
  }
  #section-notosans .number-date {
    font-size: 28vh;
    margin-top: -1.5vh;
  }
  #section-notosans .label-year {
    font-size: 8.6em;
    margin-bottom: 16px;
  }
  #section-notosans .label-month {
    font-size: 5.2vh;
    text-transform: uppercase;
  }
    #section-notosans .label-month.short-title {
      font-size: 6.4vh;
    }



  #section-notoserif .wrapper * {
    line-height: 1em;
  }
  #section-notoserif .number-date {
    font-size: 14vh;
  }
  #section-notoserif .label-zodiac {
    position: relative;
    font-size: 8vh;
    white-space: nowrap;
    letter-spacing: 1.2vh;
    text-indent: -2vh;
    width: 8vh;
  }
  #section-notoserif .label-term {
    position: relative;
    font-size: 10vh;
    white-space: nowrap;
    letter-spacing: 1vh;
    text-indent: -4vh;
    width: 10vh;
  }
  #section-notoserif .label-month-cn {
    border-radius: 8vh;
    padding: .8vh;
    font-size: 4vh;
    border: 2px solid #222;
  }
  #section-notoserif .label-year-month {
    position: relative;
    width: 6.3vh;
    font-size: 6.3vh;
    letter-spacing: 1.4vh;
    text-indent: 1.4vh;
    white-space: nowrap;
    align-items: center;
  }
    #section-notoserif .label-year-month.short-title {
      width: 7.4vh;
      font-size: 7.4vh;
    }
  #section-notoserif .label-lunar-month-date-name {
    align-items: center;
  }

  #section-notoserif .label-lunardate {
    position: relative;
    font-size: 5vh;
    width: 5vh;
    white-space: nowrap;
    letter-spacing: 1.4vh;
    text-indent: -1.2vh;
  }
    #section-notoserif .label-lunardate.length-4 {
      font-size: 6vh;
      width: 6vh;
      letter-spacing: 2.2vh;
      text-indent: -1vh;
    }
    #section-notoserif .label-lunardate.length-5 {
      font-size: 6vh;
      width: 6vh;
      letter-spacing: 1.2vh;
      text-indent: -1.8vh;
    }



  #section-notoserif .label-date-cn-how {
    position: relative;
    white-space: nowrap;
    font-size: 20.4vh;
    letter-spacing: 1vh;
    text-indent: 1vh;
    width: 20vh;
  }
    #section-notoserif .label-date-cn-how.short-title {
      width: 26vh;
      font-size: 26vh;
      letter-spacing: 9vh;
      text-indent: 9vh;
    }

  #section-notoserif .label-weekday-cn {
    position: relative;
    width: 18.8vh;
    letter-spacing: 2.5vh;
    font-size: 18.8vh;
    white-space: nowrap;
    text-indent: 2.5vh;
  }
  /* #section-notoserif .group-numbers {
    position: relative;
    width: 13.6vh;
    font-size: 11.2vh;
    white-space: nowrap;
  } */
  #section-notoserif .vline {
    margin: 0 2.6vh;
  }
  #section-notoserif .group-number {
    font-size: 7vh;
  }
  #section-notoserif .ganzhi-year,
  #section-notoserif .ganzhi-month,
  #section-notoserif .ganzhi-day {
    font-size: 5vh;
    margin-bottom: 1vh;
  }
  #section-notoserif .ganzhi-group {
    height: 60vh;
  }
  #section-notoserif .ganzhi-group .label {
    text-align: center;
    font-size: 2.6vh;
    line-height: 1.25em;
  }
  #section-notoserif .weekday-en-shorten {
    font-size: 13vh;
    text-transform: lowercase;
  }

  #section-hanamin .zodiac {
    padding: 0 4vh;
    font-size: 5.4vh;
    margin-top: 2vh;
    line-height: 1em;
  }
  #section-hanamin .h5 {
    font-size: 2.4vh;
  }
  #section-hanamin .text-vert {
    letter-spacing: .4vh;
    margin: 0 auto;
  }
  #section-hanamin .label-lunardate {
    line-height:1.25em;
    letter-spacing: .7vh;
    margin: 2.2vh auto 0 auto;
  }
    #section-hanamin .label-lunardate.length-5 {

    }
    #section-hanamin .label-lunardate.length-4 {

    }
  #section-hanamin .h4 {
    font-size: 3.6vh;
  }
  #section-hanamin .h3 {
    font-size: 5.6vh;
    line-height: 1em;
    margin-top: 2vh;
  }
  #section-hanamin .h1 {
    font-size: 10.8vh;
    letter-spacing: .15em;
    text-indent: .15em;
    line-height: 12vh;
    white-space: nowrap;
  }
  #section-hanamin .h1.short-title {
    font-size: 12.2vh;
  }

  #section-hanamin .h2 {
    font-size: 9vh;
    line-height: 1em;
    letter-spacing: .2em;
    text-indent: .2em;
  }

  #section-hanamin .ganzhi-year,
  #section-hanamin .ganzhi-month,
  #section-hanamin .ganzhi-day {
    line-height: 1.8em;
  }

.hide {
  display: none !important;
}

.frame1 {
  width: 200px;
  height: 400px;
  position: relative;
}
  .frame1:before {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid
  }

.uppercase {
  text-transform: uppercase;
}

.vline {
  border-left-style: solid;
  border-left-color: #222;
  margin: 0 8px;
  border-left-width: 1px;
}
  .vline.two-px {
    border-left-width: 2px;
  }
  .vline.four-px {
    border-left-width: 4px;
  }

.hline {
  width: 100%;
  border-top-style: solid;
  border-top-color: #222;
  margin: 8px 0;
  border-top-width: 1px;
}

.hline.two-px {
  border-top-width: 2px;
}
.hline.four-px {
  border-top-width: 4px;
}
.hline.eight-px {
  border-top-width: 8px;
}
.hline.dash {
  border-top-style: dashed;
}

.flexbox {
  display: flex;
}
.flexbox.row {
  flex-direction: row;
}
.flexbox.column {
  flex-direction: column;
}
.flexbox .flex {
  flex: 1;
}
.justify-center {
  justify-content: center;
}
.justify-space-evenly {
  justify-content: space-evenly;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content:space-around;
}

.text-indent-4 {
  text-indent: 4px;
}

.grid-18 {
  display: inline-block;
  font-size: 7.5vw;
  line-height: 1em;
  text-align: center;
  width: 120px;
  height: 120px;
  margin: 4px;
  outline: 2px solid rgba(255,255,255,.8);
  outline-offset: -2px;
  /* border-bottom: 2px solid rgba(0,0,0,.2); */
  background: repeating-linear-gradient(
    to right,
    rgba(255,255,255,.1),
    rgba(255,255,255,.1) 1px,
    transparent 1px,
    transparent 5.56%
  ), repeating-linear-gradient(
    to bottom,
    rgba(255,255,255,.1),
    rgba(255,255,255,.1) 1px,
    transparent 1px,
    transparent 5.56%
  ), repeating-linear-gradient(
    to right,
    rgba(255,255,255,.5),
    rgba(255,255,255,.5) 1px,
    transparent 1px,
    transparent 33.33%
  ), repeating-linear-gradient(
    to bottom,
    rgba(255,255,255,.5),
    rgba(255,255,255,.5) 1px,
    transparent 2px,
    transparent 33.333%
  ); */
}


.weight-100 {
  font-weight: 100;
}
.weight-300 {
  font-weight: 300;
}
.weight-400 {
  font-weight: 400;
}
.weight-500 {
  font-weight: 500;
}
.weight-600 {
  font-weight: 600;
}
.weight-700 {
  font-weight: 700;
}
.weight-900 {
  font-weight: 900;
}
.text-outline {
  -webkit-text-stroke: 4px black;
  -webkit-text-fill-color: transparent;
}

a {
  color: #444;
  text-decoration: none;
}

.hline-4 {
  height: 4px;
  background: #222;
}

.center {
  margin-left: auto;
  margin-right: auto
}

body {
  font-size: 15px;
  line-height: 26px;
  font-family: 'Noto Serif TC', sans-serif;
  color: #222;
}

pre {
  /* white-space: pre-wrap; */
  background: rgba(0,0,0,.1);
  font-family: 'Roboto Mono', monospace;
  padding: 10px 12px;
  line-height: 1.6em !important;
}

.wrapper-use-font .font-name {
  font-size: 2.4em;
  line-height: 1.2em;
}
.wrapper-use-font .group-desc {
  font-weight: 600;
  position: relative;
  padding-top: 12px;
  margin-top: 28px;
}
body[lang="tw"] .wrapper-use-font .group-desc {
  font-family: 'Noto Serif TC';
}
body[lang="cn"] .wrapper-use-font .group-desc {
  font-family: 'Noto Serif SC';
}

.wrapper-use-font .group-desc::after {
  position: absolute;
  width: 32px;
  height: 2px;
  background: #222;
  top: 0;
  left: 0;
  content: "";
}

body > *,
.load-font,
#pp-nav {
  -webkit-transition: .25s opacity;
}

body.loading #loader {
  opacity: 1;
}

body.loading .load-font,
body.loading #pp-nav {
  opacity: 0;
}

body.use-font #headerbar .button-close {
  display: inline-block;
}
.section .wrapper-use-font,
body.use-font .section .wrapper,
body.use-font #headerbar > div {
  display: none;
}
body.use-font .section .wrapper-use-font {
  display: block;
}

#headerbar .button-close {
  display: none;
  padding: 6px;
}
.button-close > div {
  background-image: url(images/ic_close_black_24px.svg);
  background-size: cover;
  width: 24px;
  height: 24px;
  color: #222;
}

#project-title {
  position: fixed;
  top: 23px;
  left: 24px;
  z-index: 10000;
  width: 148px;
  height: 48px;
  background-image: url(images/project-title.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.font-title {
  font-size: 5vh;
  letter-spacing: 1vh;
  top: 8vh;
  writing-mode: tb-rl;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.section-about .content {
  font-size: 16vh;
  left: 30%;
  top: 10%;
  line-height: 16vh;
}
.line2 {
  text-indent: 23vh;
}

#designer-info {
  position: fixed;
  right: 18px;
  top: 50%;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  z-index: 10;
  letter-spacing: 1px;
}

#headerbar {
  position: fixed;
  right: 16px;
  top: 24px;
  z-index: 10000;
}

#headerbar > * {
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

#headerbar .lang {
  padding: 4px 8px;
}

.templates {
  display: none;
}

.lang {
  opacity: .5;
}
.lang.selected,
.lang:hover {
  opacity: 1;
}

#pp-nav,
#headerbar,
#designer-info {
  font-weight: 600;
}

.bordered-button {
  border: 1px solid rgba(0,0,0,.3);
  padding: 4px 11px;
  border-radius: 0px;
  /* background: white; */
}

#button-use {
  margin-right: 8px;
}

#badge {
  position: fixed;
  right: 24px;
  bottom: 18px;
  z-index: 10000;
  background-image: url(images/badge.svg);
  width: 136px;
  height: 42px;
  background-repeat: no-repeat;
  opacity: .5;
}
#badge:hover {
  opacity: .8;
}

.tooltip-wrapper {
  position: relative;
}
.tooltip-wrapper:hover .tooltip {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
}
.tooltip {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  font-size: 12px;
  background: #444;
  color: white;
  /* border-radius: 2px; */
  box-shadow: 0 0 2px rgba(0,0,0,.1);
  bottom: -31px;
  padding: 2px 8px;
  white-space: nowrap;
  right: 0;
  /* -webkit-transform: translate3d(0,-2px,0); */
  -webkit-transition: .2s all;
}

.text-center {
  text-align: center;
}

.text-vert {
  writing-mode: tb-rl;
}

.about-text {
  top: 50%;
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
}

.title-text {
  font-size: 3vh;
  line-height: 1.5em;
  margin-bottom: 2vh;
  margin: 12px 23px;
}
.chinese-text {
  align-self: center;
  text-align: center;

}
.chinese-text span {
  line-height: 1.6em;
  font-size: 3.6vh;
  letter-spacing: .125em;
  border-left: 1px solid #222;
  white-space: nowrap;
}
.eng-text {
  width: 40vh;
  align-self: flex-end;
  line-height: 1.5em;
  font-size: 13px;
  margin: 0 4vh 1vh 6vh;
}

.eng-text a {
  text-decoration: underline;
  /* color: #fff; */
}

.about-bg {
  opacity: .1;
  background-image: url(images/chinese_outline.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  background-size: 128%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}
.about-bg-svg {
  position: absolute;
  width: 120%;
  height: 120%;
  margin: -5%;
}


@media (max-width: 720px) {
  #about-bg {
    background-image: url(images/chinese.svg);
    /* background-position: 50% 50%; */
    background-size: 80%;
  }
}

#author-text {
  position: relative;
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  margin-top: 12px;
}
