/* Noto Serif TC */
@font-face {
  font-family: 'Noto Serif TC';
  src: url('fonts/NotoSerif/NotoSerifCJKtc-ExtraLight.otf'); /* IE9 Compat Modes */
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif TC';
  src: url('fonts/NotoSerif/NotoSerifCJKtc-Light.otf'); /* IE9 Compat Modes */
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif TC';
  src: url('fonts/NotoSerif/NotoSerifCJKtc-Regular.otf'); /* IE9 Compat Modes */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif TC';
  src: url('fonts/NotoSerif/NotoSerifCJKtc-Medium.otf'); /* IE9 Compat Modes */
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif TC';
  src: url('fonts/NotoSerif/NotoSerifCJKtc-SemiBold.otf'); /* IE9 Compat Modes */
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif TC';
  src: url('fonts/NotoSerif/NotoSerifCJKtc-Bold.otf'); /* IE9 Compat Modes */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif TC';
  src: url('fonts/NotoSerif/NotoSerifCJKtc-Black.otf'); /* IE9 Compat Modes */
  font-weight: 800;
  font-style: normal;
}

/* GenJyuuGothic */
@font-face {
  font-family: 'GenJyuuGothic';
  src: url('fonts/genjyuugothic/GenJyuuGothic-ExtraLight.ttf'); /* IE9 Compat Modes */
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'GenJyuuGothic';
  src: url('fonts/genjyuugothic/GenJyuuGothic-Light.ttf'); /* IE9 Compat Modes */
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GenJyuuGothic';
  src: url('fonts/genjyuugothic/GenJyuuGothic-Normal.ttf'); /* IE9 Compat Modes */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GenJyuuGothic';
  src: url('fonts/genjyuugothic/GenJyuuGothic-Medium.ttf'); /* IE9 Compat Modes */
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'GenJyuuGothic';
  src: url('fonts/genjyuugothic/GenJyuuGothic-Bold.ttf'); /* IE9 Compat Modes */
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'GenJyuuGothic';
  src: url('fonts/genjyuugothic/GenJyuuGothic-Heavy.ttf'); /* IE9 Compat Modes */
  font-weight: 700;
  font-style: normal;
}
.font-GenJyuuGothic {
  font-family: 'GenJyuuGothic';
}

.weight-100 {
  font-weight: 100;
}
.weight-300 {
  font-weight: 300;
}
.weight-400 {
  font-weight: 700;
}
.weight-500 {
  font-weight: 500;
}
.weight-600 {
  font-weight: 600;
}
.weight-700 {
  font-weight: 700;
}
.text-outline {
  -webkit-text-stroke: 4px black;
  -webkit-text-fill-color: transparent;
}

a {
  color: #444;
  text-decoration: none;
}

.hline-4 {
  height: 4px;
  background: #222;
}

.center {
  margin-left: auto;
  margin-right: auto
}

body {
  font-size: 15px;
  line-height: 26px;
  font-family: 'Noto Serif TC', sans-serif;
  color: #222;
}

#project-title {
  position: fixed;
  top: 19px;
  left: 24px;
  z-index: 10000;
  width: 164px;
  height: 54px;
  /* background-image: url(images/logo2.svg); */
  background-image: url(images/project-title.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

#designer-info {
  position: fixed;
  right: 18px;
  top: 50%;
  text-align: center;
  height: 240px;
  margin-top: -120px;
  z-index: 10000;
  writing-mode: tb-rl;
  letter-spacing: 2px;
}

#headerbar {
  position: fixed;
  right: 24px;
  top: 20px;
  z-index: 10000;
}

#headerbar > div {
  display: inline-block;
  margin-left: 12px;
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.templates {
  display: none;
}

.lang {
  opacity: .5;
}
.lang.selected,
.lang:hover {
  opacity: 1;
}

#pp-nav,
#headerbar,
#designer-info {
  font-weight: 700;
}

.bordered-button {
  border: 1px solid rgba(0,0,0,.3);
  padding: 4px 11px;
  border-radius: 0px;
}

#button-use {
  margin-right: 8px;
}

#badge {
  position: fixed;
  right: 24px;
  bottom: 14px;
  z-index: 10000;
  background-image: url(badge.svg);
  width: 136px;
  height: 42px;
  background-repeat: no-repeat;
  opacity: .5;
}

.text-center {
  text-align: center;
}

.square {
  position: absolute;
  left: 8%;
  top: 8%;
  right: 8%;
  bottom: 8%;
}

.xl {
  font-size: 10em;
  line-height: 1em;
}
.x {
  font-size: 8em;
  line-height: 1em;
}
.m {
  font-size: 5em;
  line-height: 1em;
}
.s {
  font-size: 2em;
  line-height: 1em;
}
.xs {
  font-size: 1em;
  line-height: 1em;
}

/* about text */
#about-text {
  /* margin-top: 100px; */
  max-width: 600px;
  font-size: 30px;
  line-height: 1.6em;

  /* border: 1px solid #444; */
  /* padding: 8px 32px; */
}
.chinese-text {
  line-height: 1.8em;
  writing-mode: tb-rl;
  font-size: 1.5vw;
  position: absolute;
  right: 0;
  top: 0;
  margin: 148px 20px;
  height: 320px;
}
.eng-text {
  position: absolute;
  left: 0;
  top: 0;
  margin: 148px 24px;
  font-size: 1.2vw;
  width: 30%;
  line-height: 1.8em;
}

#about-bg {
  background-image: url(images/chinese.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  background-size: 90% 90%;
}

#author-text {
  color: rgba(0,0,0,.4);
  position: relative;
  padding-top: 16px;
  margin-top: 40px;
}
#author-text:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 2px;
  background: rgba(0,0,0,.4);
  content: "";
}


/* cldr */
.clndr {
  font-size: 12px;
  position: absolute;
  bottom: 80px;
  right: 80px;
  width: 220px;
  height: 240px;
  font-weight: 500;
}
.header-day {
  width: 13%;
  /* display: inline-block; */
  float: left;
  opacity: .25;

}
.days .day.today {
  background: #ff5252;
  /* color: transparent; */
  border-radius: 100%;
  /* border: 2px solid red; */
  /* border-radius: 30px; */
}
.day.adjacent-month {
  opacity: 0;
}
.days .day {
  /* display: inline-block; */
  float: left;
  width: 13%;
}
